<h2 class="screen-align">Searchupticket</h2>
<div id="template-ilfn-2" class="gjs-row">
    <div id="template-ip0v-2" class="gjs-cell">
        <label id="template-i3v7-2" class="label ">name
            <br id="template-itcal-2" class="">
        </label>
        <input id="template-iorbi-2" class="input form-control " />
    </div>
    <div id="template-itw4-2" class="gjs-cell">
        <label id="template-ink0o-2" class="label ">description</label>
        <input id="template-iifcn-2" class="input form-control "
        />
    </div>
    <div id="template-ikpu-2" class="gjs-cell">
        <label id="template-ix2gj-2" class="label ">callername</label>
        <input id="template-ijpvv-2" class="input form-control "
        />
    </div>
</div>
<div id="template-iro5-2" class="gjs-row">
    <div id="template-iwo5-2" class="gjs-cell">
        <label id="template-iy9pk-2" class="label ">types</label>
        <div id="template-ihb3i-2" class="">
            <ng-select id="template-ivbti-2" name="dynamicdropdown_template-ivbti-2"
            [searchable]="true" [virtualScroll]="true" [items]="typesitemArray" bindLabel="name"
            bindValue="name" class="form-control "></ng-select>
        </div>
        <div id="template-iq54k-2" class="button btn btn-primary ">search</div>
    </div>
    <div id="template-i7gh-2" class="gjs-cell">
        <label id="template-in8qq-2" class="label ">severity</label>
        <div id="template-igghk-2" class="">
            <ng-select id="template-iicgj-2" name="dynamicdropdown_template-iicgj-2"
            [searchable]="true" [virtualScroll]="true" [items]="severityitemArray"
            bindLabel="name" bindValue="name" class="form-control "></ng-select>
        </div>
    </div>
    <div id="template-iyzh-2" class="gjs-cell"></div>
</div>
<div name="grid_template-i6hfn" id="template-i6hfn">
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid"
    class="ag-theme-balham" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="paginationPageSize"
    [defaultColDef]="defaultColDef" [rowData]="rowData" [rowSelection]="rowSelection"
    (gridReady)="onGridReady($event)" domLayout='autoHeight'></ag-grid-angular>
</div>
<div id="myGrid" class="ag-theme-alpine "></div>