<h2 class="screen-align">Createtype</h2>
<div id="template-i8i3" class="gjs-row">
    <div id="template-i38l" class="gjs-cell">
        <label id="template-ikwi" class="label ">name</label>
        <input id="template-idta" [(ngModel)]="types.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <div id="template-i2o3i" (click)="GpCreate()" class="button btn btn-primary ">create</div>
    </div>
    <div id="template-iu13" class="gjs-cell">
        <label id="template-i90c" class="label ">description</label>
        <input id="template-i4zl" [(ngModel)]="types.description"
        [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
        />
    </div>
</div>