<h2 class="screen-align">Severity</h2>
<div id="template-iy2p" class="gjs-row">
    <div id="template-iz3p" class="gjs-cell">
        <label id="template-iq84" class="label ">name</label>
        <input id="template-ibti" [(ngModel)]="severity.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <div id="template-i1c6i" (click)="GpCreate()" class="button btn btn-primary ">Send</div>
    </div>
    <div id="template-itta" class="gjs-cell">
        <label id="template-iudg" class="label ">description</label>
        <input id="template-ixus" [(ngModel)]="severity.description"
        [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
        />
    </div>
</div>